doctype html
html(data-ng-app=pkg.name, data-app-version=pkg.version, node-api-addr=pkg.nodeApi, lang="en", data-ng-controller="BaseCtrl")
  head
    block title

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    base(href="/")
    block stylesheets

    | <!-- inject:css -->
    | <!-- endinject -->

    block scripts

  body(ng-cloak)
    
    block content

    | <!-- inject:js -->
    | <!-- endinject -->
