div.ts-container.theme-dark
  div.container-default-message Error Code: 404 Not Found.
    div Sorry! The page you requested could not be found.
    div.container-error-message(ng-show="errorMessage") Error Message: {{ errorMessage }}