div.ts-container.theme-dark
  div.container-default-message Error Code 500: Internal Server Error.
    div Sorry! Something went wrong on our side!
    div.container-error-message(ng-show="errorMessage") Error Message: {{ errorMessage }}