.main
  font-family: courier

#header h2
  padding-bottom:8px

.msg
  color:#9f9f9f

#dealer
  min-height: 150px
  padding-top: 10px
  padding-bottom: 10px

.center
  text-align: center

.user
  padding: 10px

.heading
  background-color:#f0f1f3
  padding:7px

#table
  min-height: 200px
  
#user_controls
  min-height: 200px
  text-align:center

.card_container
  display:inline-block
  text-align: center

.card
  margin-right: 5px
  margin-bottom: 5px
  border: 1px solid black
  border-radius:3px
  -moz-border-radius:3px
  -webkit-border-radius:3px

.hidden_card
  border: 1px solid gray
  color:gray

.self_card
  margin-right: 7px
  margin-bottom: 7px
  width: 65px
  padding: 5px
  font-size:1em

.table_card
  width: 55px
  padding: 5px
  font-size:0.8em

span.card_top
  display: block
  line-height: 0.9
  text-align: left

span.card_bottom
  display:block
  line-height: 0.9
  text-align: right

span.card_middle
  font-size: 2em
  line-height: 1
  display:block

.control_btn
  display:inline-block

.countdown
  color:red